* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(96, 184, 96);
}
.upper-box {
  border: 5px solid #fff;
  width: 70%;
  height: 180px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
  margin-left: 16%;
  color: #fff;
  font-size: 2.6vw;
  padding-top: 1rem;
}
.computer-box {
  background: #fff;
  color: gray;
  font-size: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 20vw;
}

.your-box {
  background: #fff;
  color: gray;
  font-size: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 10px 35px;
}

.computer-score,
.your-score {
  font-size: 60px;
  color: rgb(37, 36, 36);
  font-weight: bolder;
  margin-left: 15px;
}
.computer-score {
  margin-left: 40px;
}

.rock,
.scissor,
.paper {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 15px solid #0074b6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}
.scissor {
  border: 15px solid #ffa943;
  margin-right: 0;
}
.paper {
  border: 15px solid #bd00ff;
  margin-right: 0;
}
.rock:hover,
.scissor:hover,
.paper:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: brightness(1.5);
}
.upper-images {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.lower-images {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.line {
  padding: 2px;
  width: 300px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 275px;
  left: 100;
  z-index: -1;
}

.line1 {
  padding: 2px;
  width: 180px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 370px;
  left: 51vw;
  z-index: -1;
  rotate: 130deg;
}

.line2 {
  padding: 2px;
  width: 180px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 380px;
  left: 37vw;
  z-index: -1;
  rotate: 50deg;
}
.rule-btn {
  padding: 7px 14px;
  background: rgb(96, 184, 96);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 15px;
  position: absolute;
  left: 88%;
  bottom: 2%;
  z-index: 2;
  transition: background 0.3s ease, color 0.3s ease;
}
.rule-btn:hover {
  background: white;
  color: gray;
}
.rule-box {
  position: absolute;
  background: rgb(0, 68, 41);
  width: 280px;
  height: 300px;
  top: 42vh;
  left: 76vw;
  border-radius: 20px;
  border: 8px solid #fff;
  font-size: 14px;
  color: #fff;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  z-index: 1;
}
.bullet {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}

.bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px;
  height: 10px;
  background-color: yellow;
}
.rule-heading {
  margin-left: 79px;
}
.cross-btn {
  font-size: 40px;
  color: #fff;
  background: red;
  position: absolute;
  border: 7px solid #fff;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  z-index: 2;
  left: 17.5vw;
  top: -6vh;
}

.container2 {
  margin-top: 50px;
  display: none;
}

.container2-img {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.win-img {
  background: #fff;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 15px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 130px;
}

.lose-img {
  background: #fff;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 15px solid rgb(129, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  padding-right: 130px;
  color: white;
  font-size: 50px;
  margin-top: 0;
}
.display button {
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  margin-left: 25px;
  margin-right: 25px;
  color: gray;
  font-weight: bold;
}

.display button:hover {
  background: rgb(96, 184, 96);
  border: 1px solid white;
}
.name-display {
  display: flex;
  justify-content: center;
}
.pc-picked {
  margin-right: 250px;
  font-size: 15px;
  color: white;
}
.you-picked {
  font-size: 15px;
  margin-left: 250px;
  color: white;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* dkfdlkwds */

.container3 {
  position: relative;
}

.group-star {
  position: relative;
  margin-top: 30px;
}

.vector {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: 0px;
}
.hurray {
  font-size: 50px;
  margin-top: 40px;
  color: white;
  font-weight: bolder;
}
.last-line {
  font-size: 30px;
  margin-top: 18px;
  color: white;
  font-weight: bolder;
}
.container3 button {
  margin-top: 25px;
  padding: 8px 12px;
  border-radius: 8px;
  outline: 0;
  border: 0;
}

.hurray-page button:hover {
  border: 1px solid white;
  background: rgb(96, 184, 96);
}
.container {
  display: none;
}
