* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(96, 184, 96);
}

.upper-box {
  border: 5px solid #fff;
  border-radius: 25px;
  color: #fff;
  width: 80%;
  /* height: 150px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 100px;
}

.computer-box {
  background: #fff;
  color: gray;
  font-size: 20px;
  /* margin-bottom: 35px; */
  border-radius: 10px;
  text-align: center;
  align-items: center;
  padding: 10px;
  /* margin-left: 10vw; */
}

.your-box {
  align-items: center;
  background: #fff;
  color: gray;
  font-size: 20px;
  /* margin-bottom: 35px; */
  border-radius: 10px;
  padding: 10px 35px;
}

.computer-score,
.your-score {
  font-size: 50px;
  color: rgb(37, 36, 36);
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.rock {
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 20px solid #0074b6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 200px; */
}

.scissor {
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 20px solid #ffa943;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper {
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 20px solid #bd00ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.lower-images {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.rule-btn {
  padding: 15px 30px;
  background: rgb(96, 184, 96);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 15px;
  position: fixed;
  left: 89%;
  bottom: 3%;
}

.line {
  padding: 2px;
  width: 300px;
  height: 20px;
  background-color: black;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 100; */
  z-index: -1;
}

.line1 {
  padding: 2px;
  width: 300px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 500px;
  left: 46vw;
  z-index: -1;
  rotate: 135deg;
}

.line2 {
  padding: 2px;
  width: 300px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 500px;
  right: 47vw;
  z-index: -1;
  rotate: 45deg;
}

/* .rule-box {
  position: absolute;
  background: darkgreen;
  width: 316px;
  height: 367px;
  top: 40%;
  left: 80%;
  border-radius: 15px;
  border: 8px solid #fff;
  font-size: 20px;
  color: #fff;
  padding-top: 2%;
  padding-left: 10px;
}

.rectange {
  background: yellow;
  width: 8px;
  height: 10px;
} */
.rule-box {
  position: absolute;
  background: rgb(0, 68, 41);
  width: 320px;
  top: 35%;
  left: 72%;
  border-radius: 20px;
  border: 8px solid #fff;
  font-size: 20px;
  color: #fff;
  padding: 2%;
  z-index: -1;
}

.bullet {
  position: relative;
  padding-left: 15px; /* Add padding to create space for the bullet */
  margin-bottom: 10px; /* Add some vertical spacing between the bullet points */
}

.bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px; /* Width of the rectangular bullet */
  height: 10px; /* Height of the rectangular bullet */
  background-color: yellow; /* Color of the rectangular bullet */
}

.cross-btn {
  font-size: 50px;
  color: #fff;
  background: red;
  position: absolute;
  border: 7px solid #fff;
  border-radius: 40px;
  width: 75px;
  height: 75px;
  z-index: 2;
  left: 90%;
  top: -10%;
}
